#map {
 display: none;
}

@media screen and (max-width: 600px) { /*handheld and (max-width: 600px) and (orientation: portrait), */

body {
    min-width: 0 !important;
    width: 100%;
    background-color: #45464e;
}

.container {
    margin: 0 !important;
}

.darkbox .c > * {
    margin-left: 0;
    margin-right: 0;
}

.darkbox {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.tl, .tr, .bl, .br {
    background: none !important;
}

.c {
    margin: 0 !important;
}

.menu {
    margin-bottom: 5px !important;
}

#header #tr-search-box  {
    float: none;
    clear: both;
}

#header #tr-search-box #searchbox {
    width: auto !important;
    background-repeat: repeat !important;
}

#header #tr-search-box #searchbox .search_text {
    width: 95% !important;
}

.infobox {
    min-width: 0 !important;
}

.container {
    min-width: 0 !important;
}

.darkbox {
    min-width: 0 !important;
}

.w55 {
    width: 100%;
}

.w55 .centered, .main .centered {
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding-right: 0;
}

.w45 {
    width: 100%;
}

.rcol {
    margin-left: 0 !important;
    max-width: none !important;
}


#crags-show .main .rcol table td {
    text-align: left;
    padding-left: 8px;
}

#topos-show .topobox, #topos-index .topobox {
    border-style: none;
}

#crags-show .main table {
    width: 100%;
}

#crags-show .main table tr {
    /*display: block;*/
}

#crags-show .main .w55 table td {
    display: block;
    float: left;
    margin-right: -10px;
}

#crags-show .main .w55 table td:first-child {
    width: 90%;
    max-width: none;
    margin-left: -30px;
    padding-left: 30px;
}

#crags-show .main .w55  table td:nth-child(2) {
    clear: both;
}

#crags-show .main .w55 table td:not(:first-child) {
    width: 24.9%;
    margin-left: -10px;
    margin-right: -11px;
}

table.data .stxt {
    min-width: 0;
}

table.crags td {
    text-align: left;
    padding-left: 8px;
}

table.crags {
    width: 100%;
}

table.crags th:nth-child(n+3):nth-child(-n+8), table.crags th:nth-child(10), table.crags th:nth-child(n+12):nth-child(-n+13),
table.crags td:nth-child(n+3):nth-child(-n+8), table.crags td:nth-child(10), table.crags td:nth-child(n+12):nth-child(-n+13) {
    display: none;
}

.foldout {
    font-style: italic;
    font-size: smaller;
    color: white;
    padding: 5px !important;
}

.foldout span {
    color: lightgray;
}

.darkbox .overhang .container .map a {
    width: 100%;
}

.overhang .container table td:first-child {
    display: none;
}

.overhang .container table td:last-child {
    display: none;
}

#header #logomenu a:nth-child(2) {
    clear: both;
    background: none;
}

.colbox.container {
    padding-left: 5px;
    padding-right: 5px;
}


.m10 {
    margin: 0;
}

.m10 .t14 .left {
    float: none;
}

.post {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 5px !important;
}

.sidebar {
    padding-right: 0 !important;
}

.card {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.colbox .post {
    width: auto;
    float: none;
}

.colbox .sidebar {
    margin-left: 0;
}

.container.t14 .left img {
    width: 100%;
}

.video iframe {
    width: 100%;
    height: auto;
}

.left.w22, .left.w78 {
    width: 100%;
}

#uservoice-feedback-tab {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
.lastline .pale {
    color: #45464e;
}

.lastline a {
    color: #b4bae5;
}

.hr_top {
    min-width: 0;
}

.topo_hr {
    min-width: 0 !important;
}

.ad {
    width: 95%;
}

.ad .big {
    font-size: 1.5em;
}

.post.adspace iframe {
    width: 100% !important;
}

.post.adspace ins {
    width: 100% !important;
}
}