body {
    min-width: 0 !important;
    width: 100%;
    background-color: #45464e;
}

.container {
    margin: 0 !important;
}

.darkbox .c > * {
    margin-left: 0;
    margin-right: 0;
}

.darkbox {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.tl, .tr, .bl, .br {
    background: none !important;
}

.c {
    margin: 0 !important;
}

.menu {
    margin-bottom: 5px !important;
}

#header #tr-search-box  {
    float: none;
    clear: both;
}

#header #tr-search-box #searchbox {
    width: auto !important;
    background-repeat: repeat !important;
}

#header #tr-search-box #searchbox .search_text {
    width: 95% !important;
}

.infobox {
    min-width: 0 !important;
}

.container {
    min-width: 0 !important;
}

.darkbox {
    min-width: 0 !important;
}

.w55 {
    width: 100%;
}

.w55 .centered, .main .centered {
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding-right: 10px;
}

.w45 {
    width: 100%;
}

#crags-show .main table {
    width: 100%;
}

#crags-show .main table tr {
    /*display: block;*/
}

#crags-show .main table td {
    display: block;
    float: left;
    margin-right: -10px;
}

#crags-show .main table td:first-child {
    width: 90%;
    max-width: none;
    margin-left: -30px;
    padding-left: 30px;
}

#crags-show .main table td:nth-child(2) {
    clear: both;
}

#crags-show .main table td:not(:first-child) {
    width: 24.9%;
    margin-left: -10px;
    margin-right: -11px;
}

table.data .stxt {
    min-width: 0;
}

.darkbox .overhang .container .map a {
    width: 100%;
}

.overhang .container table td:first-child {
    display: none;
}

.overhang .container table td:last-child {
    display: none;
}

.colbox .post {
    width: auto;
    float: none;
}

.colbox .sidebar {
    margin-left: 0;
}

.container.t14 .left img {
    width: 100%;
}

.video iframe {
    width: 100%;
    height: auto;
}

.left.w22, .left.w78 {
    width: 100%;
}

#uservoice-feedback-tab {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
.lastline .pale {
    color: #45464e;
}

.lastline a {
    color: #b4bae5;
}

/*
.pics .topobox {
    width: 100% !important;
}

.pics .topobox {
    height: auto !important;
}

#route_pages-show .pics .topobox img {
    width: 100%;
    height: auto;
} */